@page "/"

<div class="container">
    <div class="jumbotron mt-3 rounded-0">
        <video id="videobg" autoplay muted loop>
            <source src="S2VX_Website_Hero_Preview.mp4" type="video/mp4">
        </video>
        <div id="hero-content" class="container">
            <h1>S2VX</h1>
            <img src="https://raw.githubusercontent.com/maxrchung/S2VX/release/Logo/logo999.png" alt="S2VX" style="width:222px">
            <p class="lead mt-2">it's like osu! but with more squares and motion sickness</p>
            <a href="https://github.com/maxrchung/S2VX/releases/" class="btn btn-primary btn-lg rounded-0" target="_blank">Download</a>
        </div>
    </div>

    <h2>Demos</h2>

    <p>These are some of our stories aka demos aka s2rys aka maps we've made'</p>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card bg-secondary border border-dark">
                <div class="embed-responsive embed-responsive-1by1">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hOCD0Tz4Ak0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body border border-dark rounded-0">
                    <h5 class="card-title font-weight-bold">Hate vs. Brilliance - Qubism</h5>
                    <p class="card-text">ya our first story</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card bg-secondary border border-dark">
                <div class="embed-responsive embed-responsive-1by1">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/FJFS0pws-es" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body border border-dark rounded-0">
                    <h5 class="card-title font-weight-bold">Porter Robinson & Madeon - Shelter</h5>
                    <p class="card-text">ya our second s2ry</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card bg-secondary border border-dark">
                <div class="embed-responsive embed-responsive-1by1">
                </div>
                <div class="card-body border border-dark rounded-0">
                    <h5 class="card-title font-weight-bold">Slam song</h5>
                    <p class="card-text">ya our 3rds s2ry</p>
                </div>
            </div>
        </div>
    </div>

    <h2>Team</h2>

    <p>The Bois</p>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4 rounded-0">
            <div class="card bg-secondary border border-dark rounded-0">
                <div class="card-body border border-dark rounded-0">
                    <h5 class="card-title font-weight-bold">Max</h5>
                    <p class="card-text">Lmao whats poppin.</p>
                    <hr class="bg-white">
                    <i class="fa fa-lg mr-1 fa-github" aria-hidden="true"></i><a class="text-white" href="https://github.com/maxrchung">maxrchung</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card bg-secondary border border-dark rounded-0">
                <div class="card-body border border-dark rounded-0">
                    <h5 class="card-title font-weight-bold">Aaron</h5>
                    <p class="card-text">Lmao whats poppin2.</p>
                    <hr class="bg-white">
                    <i class="fa fa-lg mr-1 fa-github" aria-hidden="true"></i><a class="text-white" href="https://github.com/xenocidel">Xenocidel</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card bg-secondary border border-dark rounded-0">
                <div class="card-body border border-dark rounded-0">
                    <h5 class="card-title font-weight-bold">Alex</h5>
                    <p class="card-text">Lmao whats poppin3.</p>
                    <hr class="bg-white">
                    <i class="fa fa-lg mr-1 fa-github" aria-hidden="true"></i><a class="text-white" href="https://github.com/naranja-sagged">naranja-sagged</a>
                </div>
            </div>
        </div>
    </div>

</div>