@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

test


Notes

Single landing page

Title and Favicon
* Aaron

Description of game
* Aaron

Download link - Link to GitHub releases
* Aaron

Demos - YouTube show case
* MAX IS DOING THIS

About the team
* ALEX

Refer to https://osu.ppy.sh/home

May need to look into font and component/style choices
* Aaron

Responsive web page

C# Blazor WebAssembly

<div class="container">
    <div class="jumbotron">

        <h1>S2VX</h1>
        <img src="https://raw.githubusercontent.com/maxrchung/S2VX/release/Logo/logo999.png" alt="S2VX" style="width:222px">
        <p class="lead">it's like osu! but with more squares and motion sickness</p>
        <hr />
        <a href="https://github.com/maxrchung/S2VX/releases/" class="btn btn-primary btn-lg" target="_blank">Download</a>

    </div>

    <h2>Demos</h2>

    <p>These are some of our stories aka demos aka s2rys aka maps we've made'</p>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="embed-responsive embed-responsive-1by1">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hOCD0Tz4Ak0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Hate vs. Brilliance - Qubism (S2VX)</h5>
                    <p class="card-text">ya our first story</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="embed-responsive embed-responsive-1by1">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/FJFS0pws-es" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Porter Robinson & Madeon - Shelter (S2VX)</h5>
                    <p class="card-text">ya our second s2ry</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="embed-responsive embed-responsive-1by1">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Slam song</h5>
                    <p class="card-text">ya our 3rds s2ry</p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center">About the team</h2>

    <div class="row">
        <div class="col">
            <h3 class="text-center">Max Robert Chung</h3>
            Lmao whats poppin
            <hr />
            <i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/maxrchung">GitHub</a>
        </div> 
        <div class="col">
            <h3 class="text-center">Aaron Liao</h3>
            Lmao whats poppin2
            <hr />
            <i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/xenocidel">Xenocidel</a>
        </div>
        <div class="col">
            <h3 class="text-center">Alex Liu</h3>
            Lmao whats poppin3
            <hr />
            <i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/naranja-sagged">GitHub</a>
        </div>
    </div>

</div>